.header {
  background-image: url("assets/pexels-francesco-ungaro-2325446.jpg");
  /* linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;
  width: 100%;
  background-clip: border-box;
  background-blend-mode: luminosity;
  color: blue;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 80px;
  text-shadow: 3px 3px 2px #212121;
}

h4 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 3px 2px #212121;
  padding-top: 2%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.icon1 {
  font-size: 40px;
  margin-left: 20px;
}

.linkedin {
  color: #0077b5;
}

/*about*/
.about {
  margin-top: 6%;
}
.about h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 6%;
}

.about .about-edu {
  margin: 20px 0px 0px 0px;
}

.about .img-fluid {
  border-style: outset;
  border-color: #d3dedc;
  border-radius: 50%;
  border-width: 10px;
  cursor: pointer;
  filter: grayscale(0%);
  transition: all 800ms;
}

.about .img-fluid:hover {
  /* transform: rotate(360deg); */
  filter: grayscale(100%);
  cursor: pointer;
  padding: 4%;
}

.about .education {
  padding-top: 2%;
}

li {
  padding: 20px 0px 0px 0px;
  font-size: 16px;
}

.application {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1a1a40;
}

.work {
  margin-top: 6%;
  background-color: #1a374d;
  padding-bottom: 4%;
  padding-top: 2%;
}

.work h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 6%;
  color: #fff;
  text-shadow: 3px 3px 2px #212121;
}

.card {
  border-width: 2px;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
}

.card-img-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: all 800ms;
}

.card-img-top:hover {
  filter: saturate(5);
}

.card a {
  text-decoration: none;
  border-radius: 50px;
  background-color: #632626;
  color: #fff;
  transition: all 800ms;
}

.card a:hover {
  background-color: #570530;
  color: #fff;
  transition: all 800ms;
}

.card .btn {
  margin-top: 3%;
}

.skills-bar {
  width: 1250px;
  background: #fff;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  padding: 25px 30px;
  margin: 30px 0px 0px 0px;
}

.skills-bar .bar {
  margin: 20px 0px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.skills-bar .bar:first-child {
  margin-top: 0px;
}

.skills-bar .bar .info {
  margin-bottom: 5px;
}

.skills-bar .bar .info span {
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  animation: showText2 0.5s 1s linear forwards;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  max-width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  /* box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8); */
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  height: 100%;
  width: 50%;
  background: #544179;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .angular span {
  width: 70%;
}

.bar .html span {
  width: 80%;
}

.bar .css span {
  width: 70%;
}

.bar .javascript span {
  width: 70%;
}

.bar .typescript span {
  width: 70%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
  position: absolute;
  content: "80%";
  right: 0;
  top: -28px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 8px;
  border-radius: 3px;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.bar .angular span::after {
  content: "70%";
}
.bar .html span::after {
  content: "80%";
}

.bar .css span::after {
  content: "70%";
}

.bar .javascript span::after {
  content: "70%";
}

.bar .typescript span::after {
  content: "70%";
}

.skills {
  margin-top: 6%;
}

.skills h2 {
  text-align: center;
  font-size: 45px;
}

.skills-list {
  padding-top: 4%;
}

footer {
  margin-top: 40px;
  background-color: black;
  color: white;
  padding: 1% 0% 1% 0%;
}

h6 {
  text-align: center;
}

.contact {
  margin-top: 6%;
  margin-bottom: 5%;
}
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 6%;
}

.form-control {
  border-width: 2px;
}

.form-control:focus {
  background-color: #f2ffe9;
  color: #000000;
}

.send {
  background-color: #064663;
  color: #fff;
  transition: all 800ms;
}

.send:hover {
  background-color: #22577e;
  color: #fff;
}
