.header {
  background-image: url("assets/pexels-francesco-ungaro-2325446.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 80px;
}

h4 {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5%;
}

.linkedin {
  color: #0077b5;
}

/*about*/
.about {
  padding: 4% 0% 0% 0%;
}
.about h2 {
  text-align: center;
  font-size: 45px;
}

.about .about-edu {
  padding: 2% 0% 0% 0%;
}

.about img {
  border: 2px solid #fef9ef;
  border-radius: 50%;
  border-width: 2px;
}

.about img:hover {
  transform: scale(0.9);
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: 0.7s;
  transition-timing-function: ease-in-out;
}

li {
  padding: 2% 0% 0% 0%;
  font-size: 15px;
}

.work {
  padding: 4% 0% 4% 0%;
}

.work h2 {
  text-align: center;
  font-size: 45px;
}

.work h4 {
  color: black;
}
